html {
    background: #EE;
}

body {
    margin: 0;
}

h1 {
    font-family: "ModeNine";
    font-size: .5vw;
    text-align: center;
    color: #da4242;
    line-height: 1;
}

h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1;
}

.navbar {
    display: block;
    font-family: "ModeNine";
    font-size: 4vw;
    overflow: hidden;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    vertical-align: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.navbar a {
    font-size: 2vw;
    color: #FFF;
    right: 0;
    margin: 0px;
    padding-right: 25px;
    padding-left: 0px;
    vertical-align: middle;
}

.navbar a.home {
    font-size: 3vw;
    color: #da4242;
    right: 0;
    padding-left: 8vw;
    padding-right: 0px;
    vertical-align: middle;
}

.main {
    display: block;
    font-family: "Arial";
    font-size: 24px;
    margin-top: 10vw;
    margin-left: 8vw;
    margin-right: 8vw;
}


a {
    color: #696969;
    text-decoration: none;
}

b, strong {
    font-weight: 600;
}

p {
    color: #696969;
    line-height: 1.3em;
    margin: 0px;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 0px solid rgba(0, 0, 0, 0.12);
    border-radius: 0px;
    display: block;
    max-width: 100%;
}

table {
    border-spacing: 12px;
    text-align: left;
    font-size: 1.2em;
}

input[type=text], textarea {
    font-family: "ModeNine";
    font-size: 1.5vw;
    margin: 1.5vw;
    padding: 1vw;
    width: 50%;
    height:inherit;
    border: 4px solid #da4242;
    border-radius: 0px;
}

textarea {
    font-family: "ModeNine";
    font-size: 1.5vw;
    margin: 1.5vw;
    padding: 1vw;
    max-width: 50%;
    height:inherit;
    border: 4px solid #da4242;
    border-radius: 0px;
    resize: none;
}

@font-face {
    font-family:"ModeNine";
    src:url("fonts/MODENINE.eot?") format("eot"),
        url("fonts/MODENINE.woff") format("woff"),
        url("fonts/MODENINE.ttf") format("truetype"),
        url("fonts/MODENINE.svg#ModeNine") format("svg");
    font-weight:normal;
    font-style:normal;
}


@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}